go 1.21.1

use (
	./01_first_program
	./04_variables_types_and_constants
	./05_user_input
	./06_comma_ok_syntax
	./07_type_conversion
	./08_time_package
	./11_pointers
	./12_arrays
	./13_slices
	./14_maps
	./15_structs
	./16_if_else_switch_select
	./17_loops
	./18_functions
	./19_methods
	./20_closures
	./21_defer
	./22_working_with_files
	./23_handling_web_requests
	./24_handling_urls
)
